---
slug: store
cache_for: 1800
---

{% content_for 'canonical' %}store{% endcontent_for %}

   <main role="main" class="lune-page lune-page--store">
        <section class="lune-store-wrapper lune-theme-light col-12 md-col-9 p3 mx-auto flex items-stretch content-center justify-center flex-wrap">
          <!-- TITLE  -->
          <h1 class="lune-store-title lune-line-after lune-anim-move-up flex items-center caps h4 mb2 col-12 md-hide lg-hide">Visit us</h1>
          <!-- IMAGE  -->
            <div class="lune-store-image-wrapper relative z1 col-12 flex justify-center overflow-hidden">
              <figure class="lune-store-image lune-anim-scale-up flex-none m0 p0">
                <amp-img class="" alt="" srcset="{{ 'store-hero@1x.webp' | asset_url }}, {{ 'store-hero@2x.webp' | asset_url }} 2x" width="1.78" height="1" layout="responsive">
                    <!-- Fallback -->
                    <amp-img fallback="" class="" alt="" srcset="{{ 'store-hero@1x.jpg' | asset_url }}, {{ 'store-hero@2x.jpg' | asset_url }} 2x" width="1.78" height="1" layout="responsive">
                  </amp-img>
                </amp-img>
              </figure>
            </div>
          <!-- SUBTITLE  -->
          <h2 class="lune-store-subtitle lune-anim-move-up z2 relative col-12 h2 sm-h1 lg-h00 caps">Lune</h2>
          <!-- ADDRESS  -->
          <address class="lune-store-address-wrapper lune-anim-move-up z2 relative col-12 pt4 mb3 lg-mt3">
            <p class="lune-store-address h5 lg-h7">
              <span>21, Saint-Thomas</span><br><span>8510 Paris</span><br><a href="tel:+330144000000">(+33) 01 44 00 00 00<a><br><a href="" target="_blank" rel="nopener noreferrer"></a>
            </a></a></p>
          </address>
          <!-- BODY COPY  -->
          <article class="lune-store-body-wrapper z2 relatice col-12 lg-mt3 lg-pt4 flex flex-wrap">
            <div class="col-12 lg-col-6 lg-pr2">
                  <p class="lune-store-body lune-anim-move-up regular h5 lg-h6 ">Lune was founded in 2017. We exist to craft contemporary furniture that complements modern life. Our approach marries innovative use of materials with creative principles born from the fundamentals of industrial design.</p>
            </div>
            <div class="col-12 lg-col-6 lg-pl2 mt4 pb4 lg-mt0 flex flex-column items-center">
  <a href="#" class="ampstart-btn ampstart-btn-secondary relative inline-block overflow-hidden caps h7 center lune-anim-move-up col-12 lune-theme-light lune-transparent">
    <span class="relative block z3">Find a reseller</span>
  </a>
            </div>
          </article>
        </section>
        <!-- CHAPTER NAME -->
    <aside class="lune-chapter-name h7 center xs-hide sm-hide absolute caps bold"><span class="block">Store</span></aside>
      </main>